## Class 8 Exercise: Predicting Survival on the Titanic

This assignment uses data from Kaggle's [Titanic](https://www.kaggle.com/c/titanic/data) competition. `titanic.csv` is in the repo, so there is no need to download the data from the Kaggle website.

**Tasks:**




Always remember to cross validate your models when attempting to gaguge predictive power. You may fit on the entire dataset when attempting to select features by looking at model coefficients.

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score
from sklearn import metrics
import statsmodels.formula.api as smf

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#1. Read `titanic.csv` into a DataFrame.
titanic = pd.read_csv('../data/titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
#2. What is the null accuracy rate for predicting survival? (This means the probability of choosing the largest unique category, either survived or not)
titanic.Survived.value_counts()
titanic['Survived'].value_counts()/titanic.shape[0]

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [ ]:
#3. Can you think of some variables that are in the dataset that might contribute to predicting survival of the crash?

In [4]:
#4. Define Pclass and Parch as the features, and Survived as the response.
X = titanic[['Pclass', 'Parch']]
y = titanic.Survived

In [6]:
#5. Split the data into training and testing sets. (Hint: use the train test split modules from sklearn)
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=4)

In [7]:
X_train.head()

     Pclass  Parch
695       2      0
762       3      0
289       3      0
189       3      0
482       3      0

In [8]:
#6. Fit a logistic regression model and examine the coefficients to confirm that they make intuitive sense.
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
assorted_pred_class = logreg.predict(X_train)

In [24]:
pd.DataFrame(zip(X.columns, logreg.coef_[0])

SyntaxError: unexpected EOF while parsing (<ipython-input-24-6069bef30738>, line 1)

In [13]:
#7. Make predictions on the testing set and calculate the accuracy.
from sklearn import metrics
preds = logreg.predict(X_test)

In [14]:
#8. Create a confusion matrix and document the model's sensitivity and specificity. (remember you should run metrics on your test classes!)
print metrics.confusion_matrix(y_test, preds)
#Accuracy = (130+31)/223 = 0.72
#Sensitivty = 31/73 = .42
#Specificity = 130/150 = 0.87

[[130  20]
 [ 42  31]]

In [18]:
#9. Also include Age as a feature, and calculate the testing accuracy. There will be a small issue you'll have to deal with. What is it? How will you deal with it? (Hint you can try using fillna with the mean of the column, median, etc)
titanic.Age.isnull().sum()
titanic.Age.median()
titanic.Age.fillna(28, inplace=True)

In [20]:
features = titanic[['Pclass', 'Parch', 'Age']]
features_train, features_test, y_train, y_test = train_test_split(features, y, random_state=4)

In [21]:
logreg.fit(features_train, y_train)
print logreg.intercept_
print logreg.coef_

[ 2.28557582]
[[-0.90022581  0.2031966  -0.02510163]]

In [ ]:
#10. Try to make up a new column (be creative!) that you think might be helpful. For example one student make a column called "is_married" which was a combination of SibSp and the name column and include this new column.

In [ ]:
#11. In any of your models, were you able to beat the null accuracy rate?